<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="4.6.86" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Ookii.Dialogs" version="1.1.0" targetFramework="net461" />
  <package id="Ookii.Dialogs.Wpf" version="1.1.0" targetFramework="net461" />
  <package id="Syncfusion.Edit.WPF" version="18.3.0.53" targetFramework="net461" />
  <package id="Syncfusion.GridCommon.Wpf" version="18.3.0.53" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.3.0.53" targetFramework="net461" />
  <package id="Syncfusion.Shared.WPF" version="18.3.0.53" targetFramework="net461" />
  <package id="Syncfusion.Tools.WPF" version="18.3.0.53" targetFramework="net461" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net461" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net461" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net461" />
  <package id="WPFToolkit.DataVisualization" version="3.5.50211.1" targetFramework="net461" />
</packages>