<?xml version="1.0" encoding="utf-8" ?>


<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="ServerTimeout" value="100000"/>
  <!--  <add key="ExampleServer" value="http://localhost:8081/DuckCreek/DCTServer.aspx"/>-->
    <add key="ExampleServer" value="http://localhost:8081/DuckCreek/DCTServer.aspx"/>
    <add key="DataFileName" value="Class1_Nil_ITC.xlsx"/>
    <add key="OutputCsvFileName" value="Class1_ITC_0_Metro.CSV"/>
    <add key="RequestSession" value="RequestSession.xml"/>
    <add key="ReqRes" value="ReqRes.txt"/>
    <!--If 1 then its single Request all, If 2 then its SinglerequestwithRownumber , if 3 the its asyn all-->
    <add key="SingleRequestName" value="2"/>
	  <add key ="insurerName" value="NRMA"/>
    <add key="RowNumber" value="5"/>
	  <add key="WriteToExcel" value="1"/><!--If 1 then writeto excel-->
  </appSettings>
</configuration>
